.banner {
    background-image:url('./../portfolio-cover.jpg');
    background-repeat: no-repeat;
   height: 100vh;
    background-size: cover;
    width: 100%;
   
}
.banner h1{
    margin-left: 0px;
    font-size: 45px;
}

.link{
    text-decoration: none;
}
/* .banner p{
    margin-left: 10%;
    margin-right: 10%;
} */