.background{
    background-image: url("https://th.bing.com/th/id/OIP.Qv8wVq0n8MhnAdVfQ2zuZwHaFZ?pid=ImgDet&rs=1");
   
    background-repeat: no-repeat;
   height: 100vh;
    background-size: cover;
    width: 100%;
}